body{
    margin:0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(to bottom,#0f0c29,#182E3A,#24243e);
    display: flex;

}

.countainer_Son{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.countainer_Son2{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 95px;
}
.logo img {
    width: 700px; 
}

.gallery img{
    width: 800px;
    
}
.main{

    width: 400px;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: .5px 20px 50px #000;
}

#chk{
    display: none;
}

.signup{
    position: relative;
    width: 100%;
    height: 100%;
}
.label{
    color: #fff;
    font-size: 2.5em;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    margin-bottom: 90px;

    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.label2{
    color: #fff;
    font-size: 2em;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.input{
    margin-top: 30px;

}
input{
    width: 60%;
    height: 15px;
    background:#e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 11px;
    border: none;
    outline: none;
    border-radius: 5px;

}
button{
    width: 60%;
    height: 40px;
    margin-top:50px !important;
    margin: 50px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    outline: none;
    border:none;
    border-radius: 10px;
    transition: .2s ease-in;
    cursor: pointer;
}
.btn{
    margin-top: 5px !important;
}
button:hover{
    background: #6d44b8;
}
.login{
    height: 630px;
    background: #eee;
    border-radius: 60%/10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color:#573b8a ;
    transform: scale(.6);
}
#chk:checked ~ .login{
    transform: translateY(-550px);
}
#chk:checked ~ .login label{
    transform: scale(1);
}
#chk:checked ~ .signup label{
    transform: scale(.6);
}  

.terminos{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80%;
    height: 10px;
    margin: 20px ;
    padding: 10px;

}

.checkbox{
    height: 15px !important;
    width: 15px !important;
    margin:0 10px 0 20px !important;
}