body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-newCreation {
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    background-color: #57E194;
    margin: 10px 0 5px 0;
    border: none;
    cursor: pointer;
}

.drag-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(205, 205, 205, 0.724);
    border-radius: 10px 10px 0 0;
    border-top: 5px solid rgb(168, 168, 168);
    border-right: 5px solid rgb(168, 168, 168);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgb(168, 168, 168);
    padding: 20px 100px;
}

.drag-image.active {
    border-style: dashed;
    border-color: rgb(168, 168, 168);
    background-color: rgba(122, 182, 255, 0.41);
    padding: 20px 193.5px;
}

.drag-image p {
    color: #00A3FF;
    cursor: pointer;
    font-size: 16px;
}

.image-preview {
    position: absolute;
    top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.imgPreview {
    max-width: 150px;
    max-height: 150px;
    position: relative;
}

.file-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 100px;
    max-height: 100px;
}

.form-creation {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(24, 46, 58, 0.90);
    padding: 20px;
    border-radius: 0 0 10px 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.container-categories {
    width: 100%;
    max-width: 800px;
    max-height: 50px;
    margin-bottom: 10px;
    position: relative;
}

.container-categories .btn-desplace {
    width: 25px;
    height: 25px;
    background: #000000bb;
    position: absolute;
    top: 20%;
    outline: none;
    border: none;
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;
    transform: translateY(-30%);
    z-index: 5;
}

.container-categories .btn-desplace:hover {
    background: #000000cd;
    width: 30px;
    height: 30px;
}

.container-categories .btn-desplace#prev-slide {
    left: -10px;
    display: none;
}

.container-categories .btn-desplace#next-slide {
    right: -10px;
}


.categorie {
    display: grid;
    grid-template-columns: repeat(30, minmax(50px, 1fr));
    grid-template-rows: minmax(20px, auto);
    overflow-x: auto;
    gap: 5px;
    grid-auto-flow: column;
    align-items: baseline;
    margin-bottom: 5px;
}

.wide {
    grid-column: span 2;
}

.categorie::-webkit-scrollbar {
    display: none;
}

.container-categories .categories-scrollbar {
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
}

.categories-scrollbar .scrollbar {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.categories-scrollbar:hover .scrollbar {
    height: 4px;
}

.scrollbar .scrollbar-bar {
    width: 33%;
    height: 100%;
    background-color: #122733;
    border-radius: 5px;
    position: inherit;
    cursor: grab;
}

.scrollbar .scrollbar-bar:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.scrollbar .scrollbar-bar::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

@media only screen and (max-width: 1023px) {
    .container-categories .btn-desplace {
        display: none !important;
    }

    .categories-scrollbar .scrollbar-bar {
        width: 20%;
    }
}

.container-categories p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A4250;
    border: 3px solid #122733;
    border-radius: 20px;
    padding: 3px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    font-size: 10px;
}

.container-categories .selected {
    background-color: #122733;
    border: 3px solid #2A4250;
}


label {
    margin: 5px 0 5px 0;
    color: white;
}

.input-black {
    outline: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #405C6B;
    border: none;
    color: rgb(220, 220, 220);
}

textarea {
    max-width: 100%;
}

.inputs {
    height: 35px;
    width: 100%;
}