/* --- --- --- FOOTER --- --- --- */
.footer-content {
    background-image: repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),linear-gradient(90deg, rgb(21,21,22),rgb(21,21,22));
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
}

.footer-content a,
.footer-content p {
    color: #fff;
    transition: all 0.3s;
}

.footer-content a p:hover {
    text-decoration: 1px underline;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer-logo a:nth-child(1) img {
    width: 55px;
    padding: 2px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.footer-logo a:nth-child(1):hover img {
    background-color: #2A4250;
}

.footer-logo a:nth-child(2) img {
    width: 500px;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.footer-info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-info-card-social {
    background-color: #2A4250;
    padding: 5px 10px;
    border-radius: 10px;
}

.footer-social {
    line-height: 0px;
}

.footer-social svg {
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s;
}

.footer-social svg:hover {
    background-color: #1E2021;
}

/* --- --- --- MEDIA Q --- --- --- */
@media (max-width: 730px) {
    /* --- FOOTER --- */
    .footer-logo {
        flex-direction: column;
        gap: 5px;
    }

    .footer-logo a:nth-child(2) img {
        width: 30px;
    }

    .footer-logo a:nth-child(2) img {
        width: 250px;
    }

    .footer-info {
        flex-direction: column;
        gap: 10px;
    }

    .footer-info-card:nth-child(2),
    .footer-info-card:nth-child(3) {
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
    }

    .footer-info-card-social {
        width: fit-content;
        width: -moz-fit-content;
    }
}