@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

.container-father {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100dvw;
    height: calc(100dvh - 61px);
}

.container {
    width: 50%;
}

.img-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    z-index: -1;
}

.img-logo img {
    transform: scaleX(-1);
    width: 500px;
}

.wrapper input {
    color: #fff;
}

.wrapper {
    color: #fff !important;
    position: relative;
    width: 350px;
    height: 450px;
    background: transparent;
    /* border: 2px solid rgba(255, 255, 255, 0.5); */
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper-light,
.wrapper-light input {
    color: #000 !important;
}

.wrapper .form-box {
    width: 100%;
    padding: 20px 40px;
}

.wrapper .login {
    transition: transform 0.5s;
    transform: translateX(0);
}

.wrapper.active .login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .register {
    transition: transform 0.5s;
    transform: translateX(0);
}

.form-box h2 {
    font-size: 2em;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0px;
    border-bottom: 2px solid #000;
}

.input-box-light {
    border-bottom: 2px solid #fff;

}

.input-box .date {
    color: #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: bold;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: bold;
}

.btn {
    width: 100%;
    padding: 5px 0px;
    color: #fff;
    background-color: #2D4263;
    border: 3px solid #2D4263;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #0824508c;
}

.login-register {
    margin: 15px 0 10px;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.link {
    cursor: pointer;
    font-weight: bold;
    color: #003186;
    transition: all 0.3s;
}

.link:hover {
    color: #004bce;
}

.register-title {
    margin-bottom: -20px;
}

.accept-polity input {
    margin-right: 10px;
    margin-bottom: 20px;
}

.accept-polity label {
    font-weight: bold;
}

.login-register p a:hover {
    text-decoration: underline;
}

.privacity {
    display: flex;
    justify-content: center;
    color: #313d52;
    transition: all 0.3s;
}

.privacity:hover {
    color: #003186;
}

.date {
    font-size: 15px;
}

.date ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* --- --- --- TOASTIFY --- --- --- */
.toastifyGood {
    background: linear-gradient(to right, #00b09b, #96c93d);
    border-radius: 10px;
}

.toastifyBad {
    background: linear-gradient(90deg, rgba(255,28,40,1) 0%, rgba(121,0,0,1) 100%);
    border-radius: 10px;
}

@media (max-width: 930px) {
    .container {
        width: 75%;
    }

    .img-logo {
        transform: translate(-20%, -50%);
    }

    .img-logo img {
        width: 400px;
    }
}

@media (max-width: 470px) {
    .container-father {
        overflow: hidden;
        height: calc(100dvh - 65px);
    }
    
    .container {
        width: unset;
    }

    .wrapper {
        width: unset;
    }

    .wrapper .form-box {
        padding: 0px 30px;
    }
}