* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: #141C29;
}

.container-father {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container {
    display: flex;
    gap: 10vw;
}

.img-galery img {
    height: 80px;
    margin-bottom: 60px;
}

.img-logo img {
    position: absolute;
    transform: scaleX(-1);
    height: 90vh;
    position: absolute;
    left: 40%;
    z-index: -1;
}

.wrapper {
    color: white;
    position: relative;
    width: 350px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .login {
    transition: transform 0.90s ease;
    transform: translateX(0);
}

.wrapper.active .login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .register {
    transition: transform 0.90s ease;
    transform: translateX(0);
}

.form-box h2 {
    font-size: 2em;
    text-align: center;
}

input {
    color: white;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box .date {
    color: white;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.btn {
    width: 100%;
    height: 45px;
    background: #2D4263;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
}

.btn:hover {
    transition: 0.90s;
    font-size: 1.5em;
}

.login-register {
    font-size: 0.9em;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
}

.login-register p a {
    text-decoration: none;
    font-weight: 600;
    color: #2D4263;
}

.login-register p a:hover {
    cursor: pointer;
    font-size: 20px;
}

.accept-polity {
    margin-bottom: 20px;
}

.accept-polity label {
    margin-bottom: 20px;
    margin-left: 10px;
    align-items: center;
}

.login-register p a:hover {
    text-decoration: underline;
}

.accept-polity label a {
    text-decoration: none;
    color: #2D4263;
}

.accept-polity label a:hover {
    text-decoration: underline;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}



@media screen and (max-width: 1024px) {
    .container-father {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        padding-top: 0px;
    }

    .img-logo img {
        height: 70vh;
        width: 50vw;
    }

    .img {
        margin-top: 100px;
    }

    .img-galery img {
        height: 8vh;
        margin-bottom: 60px;
    }

    .container-child {
        margin-top: 40px;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .img {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
    }

    .img-logo img {
        padding: 50px;
        height: 70vh;
        width: 65vw;
    }

    .img-galery img {
        height: 7vh;
        margin-bottom: 60px;
    }

    .container-child {
        margin-top: 40px;
        margin-left: 100px;
        height: auto;
    }

    .wrapper {
        margin-left: 100px;
    }
}

@media screen and (max-width: 705px) {
    .img-logo img {
        height: 70vh;
        width: 75vw;
        margin-right: 50px;
    }

    .img-galery img {
        height: 7vh;
        margin-bottom: 50px;
    }

    .container-child {
        margin-top: 20px;
        height: auto;
    }
}



@media screen and (max-width: 650px) {
    .img-logo img {
        height: 70vh;
        width: 75vw;
    }

    .img-galery img {
        height: 6vh;
        margin-bottom: 50px;
    }

    .container {
        margin-top: 20px;
        margin-left: 150px;
    }


}

@media screen and (max-width: 500px) {

    .img-logo img {
        height: 70vh;
        width: 90vw;
    }

    .img-galery img {
        height: 6vh;
        margin-bottom: 50px;
    }

    .container {
        margin-top: 20px;
        margin-left: 350px;
    }


}