@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF9F6;
}

a {
    text-decoration: none;
    color: #000;
}

/* --- --- --- LANDING --- --- --- */
#particles-js canvas {
    position: absolute;
}

.landing-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 94dvh;
    position: relative;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.logo-text img {
    width: 500px;
}

/* --- Categories --- */
.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    color: #fff;
}

.category1 {
    background-image: url(https://i.postimg.cc/TPJDmn5n/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    position: relative;
}

.category1::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #0000008c;
    z-index: -1;
}

.category1-title {
    margin-top: 30px;
    text-align: center;
}

.category2 {
    background-image: url(https://i.postimg.cc/B6Fg5fdX/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    position: relative;
}

.category2::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #0000008c;
    z-index: -1;
}

.categories-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90dvw;
    height: 100dvh;
}

.categories-content-imgs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtitle {
    align-self: flex-start;
}

.slider {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.slider img {
    cursor: zoom-in;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    transition: filter 0.3s;
}

.slider img:hover {
    filter: brightness(0.8);
}

/* --- --- --- MEDIA Q --- --- --- */
@media (max-width: 1000px) {
    /* --- CATEGORIES --- */
    .slider img {
        width: 200px;
        height: 100px;
    }
}

@media (max-width: 730px) {
    /* --- LANDING --- */
    .logo-text img {
        width: 300px;
    }

    .quoute h1 {
        font-size: 16px;
    }

    /* --- CATEGORIES --- */
    .slider img {
        width: 160px;
        height: 100px;
    }
}