@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

/* --- --- --- NAVBAR --- --- --- */
.header {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #122733;
    color: #fff;
    margin-top: 5px;
    padding: 8px 10px;
    border-radius: 10px;
    width: 95dvw;
}

.navbar a {
    color: #fff;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-logo {
    margin-right: 10px;
    line-height: 0px;
}

.navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A4250;
    border: 3px solid #122733;
    border-radius: 5px;
    padding: 5px 10px;
    gap: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.navbar-item:hover {
    background-color: #122733;
    border: 3px solid #2A4250;
}

.navbar-search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
    border: 2px solid #3A5261;
    border-radius: 50px;
}

.navbar-search-input {
    background-color: #122733;
    color: #fff;
    border: none;
    width: 150px;
}

.navbar-search-input:focus {
    outline: none;
}

.navbar-search-input::placeholder {
    color: #fff;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-icon {
    cursor: pointer;
    line-height: 0px;
    padding: 3px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar-icon:hover {
    background-color: #2A4250;
}

/* --- --- --- LANDING --- --- --- */

.landing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 92dvh;
    position: relative;
}

.logo-text img {
    width: 500px;
}


.artwork {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.artwork img {
    border-radius: 10px;
    width: 350px;
    position: absolute;
    z-index: -1;
}

.artwork img:nth-child(1) {
    transform: rotate(15deg);
    bottom: 300px;
    left: 0px;
}

.artwork img:nth-child(2) {
    transform: rotate(-10deg);
    bottom: 0px;
    left: 0px;
}

.artwork img:nth-child(3) {
    transform: rotate(10deg);
    bottom: 30px;
    left: 550px;
}

.artwork img:nth-child(4) {
    transform: rotate(-20deg);
    bottom: 300px;
    left: 76%;
}

.artwork img:nth-child(5) {
    transform: rotate(-10deg);
    bottom: 0px;
    left: 73%;
}

/* --- --- --- Categories --- --- --- */

.category1 {
    background-image: url(https://i.postimg.cc/TPJDmn5n/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);
    height: 100dvh;
    display: flex;
    justify-content: center;
}

.category-title {
    margin-top: 30px;
    color: #fff;

}

.category2 {
    background-image: url(https://i.postimg.cc/B6Fg5fdX/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);
    height: 100dvh;
}