@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF9F6;
}

a {
    text-decoration: none;
    color: #000;
}

.hidden {
    display: none;
}

/* --- --- --- NAVBAR --- --- --- */
.header {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #122733;
    color: #fff;
    margin-top: 5px;
    padding: 8px 10px;
    border-radius: 10px;
    height: 54px;
    width: 95dvw;
    overflow-x: hidden;
}

.navbar a {
    color: #fff;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-logo {
    margin-right: 10px;
    line-height: 0px;
}

.navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A4250;
    border: 3px solid #122733;
    border-radius: 5px;
    padding: 5px 10px;
    gap: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.navbar-item:hover {
    background-color: #122733;
    border: 3px solid #2A4250;
}

.navbar-search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
    border: 2px solid #3A5261;
    border-radius: 50px;
}

.navbar-search-input {
    background-color: #122733;
    color: #fff;
    border: none;
    width: 150px;
}

.navbar-search-input:focus {
    outline: none;
}

.navbar-search-input::placeholder {
    color: #fff;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-icon {
    cursor: pointer;
    line-height: 0px;
    padding: 3px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar-icon:hover {
    background-color: #2A4250;
}

/* --- MENU --- */
.menu-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #122733;
    height: 100dvh;
    width: 30dvw;
    top: 0px;
    right: 0px;
    transition: all 0.5s;
    z-index: 1;
}

.menu-logo {
    top: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-logo img {
    width: 160px;
}

.menu-shadow {
    box-shadow: 0px 0px 0px 100vmax #00000063;
}

.menu-bars-hide {
    display: none;
}

.menu-content-hide {
    right: -100% !important;
}

.menu-bars {
    position: relative;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
}

.menu-bars span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    transform-origin: 0px 100%;
    transition: all 0.3s;
}

.menu-fixed {
    position: fixed;
    top: 17px;
    right: 16px;
}

.activemenu-bars-1 {
    transform: rotate(45deg) translate(-2px, 1px);
}

.activemenu-bars-2 {
    opacity: 0;
    margin-left: -35px;
}

.activemenu-bars-3 {
    transform: rotate(-45deg) translate(-4px, 2px);
}

.navbar-explore-menu,
.navbar-toplist-menu,
.navbar-submit-menu,
.navbar-login-menu,
.navbar-profile-menu,
.menu-icons {
    display: none;
}

.menu-icons {
    gap: 10px;
}

/* --- --- --- LANDING --- --- --- */

.landing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 94dvh;
    position: relative;
    z-index: -2;
}

.logo-text img {
    width: 500px;
}

/* --- Categories --- */

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    color: #fff;
}

.category1 {
    background-image: url(https://i.postimg.cc/TPJDmn5n/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    position: relative;
}

.category1::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000000af;
    z-index: -1;
}

.category1-title {
    margin-top: 30px;
}

.category2 {
    background-image: url(https://i.postimg.cc/B6Fg5fdX/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    position: relative;
}

.category2::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000000af;
    z-index: -1;
}

.categories-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100dvh;
}

.subtitle {
    align-self: flex-start;
}

.slider {
    display: flex;
    gap: 5px;
}

.slider img {
    cursor: zoom-in;
    width: 23dvw;
    max-width: 320px;
    height: 180px;
    border-radius: 3px;
    object-fit: cover;
    transition: filter 0.3s;
}

.slider img:hover {
    filter: brightness(0.8);
}

/* --- --- --- FOOTER --- --- --- */

footer {
    background-color: #1E2021;
    padding: 20px 0px;
}

footer p {
    color: #fff;
    transition: all 0.3s;
}

footer p:hover {
    text-decoration: 1px underline;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

.footer-logo img:nth-child(1) {
    width: 50px;
}

.footer-logo img:nth-child(2) {
    width: 500px;
}

.footer-info {
    display: flex;
    justify-content: center;
    gap: 10%;

}

.footer-info-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-info-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-social svg {
    padding: 5px;
    border-radius: 5px;
}

.footer-social svg:hover {
    background-color: #2A4250;
}

/* --- --- --- MEDIA Q --- --- --- */
@media (max-width: 1000px) {
    .menu-bars {
        display: flex;
    }

    .navbar-explore-a,
    .navbar-toplist-a,
    .navbar-dark,
    .navbar-language {
        display: none;
    }

    .menu-icons {
        display: flex;
    }

    .navbar-explore-menu,
    .navbar-toplist-menu {
        display: block;
        width: 90%;
    }

    .slider img {
        height: 130px;
    }
}

@media (max-width: 730px) {

    .navbar-profile-a,
    .navbar-login-a,
    .navbar-submit-a {
        display: none;
    }

    .navbar-profile-menu,
    .navbar-login-menu,
    .navbar-submit-menu {
        display: block;
        width: 90%;
    }

    .logo-text img {
        width: 300px;
    }

    .quoute h1 {
        font-size: 16px;
    }

    .slider img {
        height: 100px;
    }

    .menu-content {
        width: 60dvw;
    }
}

@media (max-width: 400px) {
    .navbar-logo {
        margin-right: 0px;
    }

    .navbar-left {
        gap: 15px;
    }

    .navbar-search-input {
        width: 77px;
    }
}