@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #FFF9F6;
}

a {
    text-decoration: none;
    color: #000;
}

.container_2 {
    display: flex;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -59px;
    height: 100dvh;
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container-father {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-mom {
    flex-direction: column;
}

.info-content {
    display: flex;
    justify-content: center;
}

.logo {
    width: 500px;
}

.hidden {
    display: none;
    transition: height 2s ease;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: pretty;
    padding: 10px;
    width: 50dvw;
    background-color: #2D4263;
    opacity: 0.9;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.join {
    display: flex;
}

h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    margin: 30px;
    width: 40%;
    height: 35px;
    background: #2D4263;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
}

.img-logo {
    align-items: center;
}

.img-logo img {
    width: 30dvw;
}

.join {
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #3A5261;
    opacity: 0.9;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.join-us p {
    text-wrap: pretty;
}

button {
    width: 150px;
    height: 40px;
    background: #141C29;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.mission-item p {
    text-wrap: pretty;
}

.mission-item h3,
.how-it-works-item h3 {
    text-align: center;
}

.wrapper_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.colum,
.colum3 {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.colum2,
.colum4 {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 5%;
}

.img img {
    height: 50vh;
}

.text {
    background-color: #1E2021;
    margin: 0px;
    height: 10vh;
    width: 85vh;
    margin-bottom: 40px;
}

p {
    text-align: center;
}

.gallery {
    border-radius: 50%;
}

.developers-gallery {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.developers-container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-around;
    margin: 20px;
}

.developer1 {
    background-image: url(../img/arte\ \(1\).png);
}

.developer2 {
    background-image: url(../img/arte\ \(2\).png);
}

.developer3 {
    background-image: url(../img/arte\ \(3\).png);
}

.developer4 {
    background-image: url(../img/arte\ \(4\).png);
}

.card-developer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    color: #fff;
    height: 600px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px; 
}

.gallery-name h2 {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 5vh;
    border-bottom: 2px solid;
    border-top: 2px solid;
}

.frase {
    /* display: flex; */
    /* display: none; */
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.frase p {
    font-family: "Dancing Script", cursive;
    text-align: center;
    border-bottom: 2px solid;
}

.developer-details h4 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}

.developer-image {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.developer-image img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    gap: 15px;
}

.social-media svg {
    transition: all 0.3s;
}

.social-media svg:hover {
    transform: scale(1.2);
}

@media (max-width:1024px) {
    body {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    .img-logo {
        margin-top: 70px;
    }

    .logo {
        width: 400px;
    }
}

@media (max-width: 900px) {

    .content {
        width: 95dvw;
        padding: 5px;
        margin-bottom: 20px;
    }

    .info-content {
        flex-direction: column;
    }

    .developers-container {
        flex-direction: column;
        align-items: center;
    }

    .developer-block {
        width: 80%;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
        height: max-content;
    }

    .logo {
        width: 300px;
    }
}

@media (max-width: 900px) {
    .img-logo img {
        width: 190px;
    }

    .developers-gallery {
        font-size: 13px;
    }
}

@media (max-width: 420px) {
    .card-developer {
        width: 250px;
        height: 400px;
    }

    .developer-image img {
        width: 100px;
        height: 100px;
    }

    .gallery-name h2 {
        font-size: 30px;
    }
}