@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF9F6;
}

a {
    text-decoration: none;
    color: #000;
}

.hidden {
    display: none;
}

main {
    display: flex;
}

/* --- --- --- NAVBAR --- --- --- */
.header {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #122733;
    color: #fff;
    margin-top: 5px;
    padding: 8px 10px;
    border-radius: 10px;
    height: 54px;
    width: 95dvw;
    overflow-x: hidden;
}

.navbar a {
    color: #fff;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-logo {
    margin-right: 10px;
    line-height: 0px;
}

.navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2A4250;
    border: 3px solid #122733;
    border-radius: 5px;
    padding: 5px 10px;
    gap: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.navbar-item:hover {
    background-color: #122733;
    border: 3px solid #2A4250;
}

.navbar-search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
    border: 2px solid #3A5261;
    border-radius: 50px;
}

.navbar-search-input {
    background-color: #122733;
    color: #fff;
    border: none;
    width: 150px;
}

.navbar-search-input:focus {
    outline: none;
}

.navbar-search-input::placeholder {
    color: #fff;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-icon {
    cursor: pointer;
    line-height: 0px;
    padding: 3px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar-icon:hover {
    background-color: #2A4250;
}

/* --- MENU --- */
.menu-content {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #122733;
    height: 100dvh;
    width: 30dvw;
    top: 0px;
    right: 0px;
    transition: all 0.5s;
    z-index: 1;
}

.menu-logo {
    top: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-logo img {
    width: 160px;
}

.menu-shadow {
    box-shadow: 0px 0px 0px 100vmax #00000063;
}

.menu-bars-hide {
    display: none;
}

.menu-content-hide {
    right: -100% !important;
}

.menu-bars {
    position: relative;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
}

.menu-bars span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 5px;
    transform-origin: 0px 100%;
    transition: all 0.3s;
}

.menu-fixed {
    position: fixed;
    top: 17px;
    right: 16px;
}

.activemenu-bars-1 {
    transform: rotate(45deg) translate(-2px, 1px);
}

.activemenu-bars-2 {
    opacity: 0;
    margin-left: -35px;
}

.activemenu-bars-3 {
    transform: rotate(-45deg) translate(-4px, 2px);
}

.navbar-explore-menu,
.navbar-toplist-menu,
.navbar-submit-menu,
.navbar-login-menu,
.navbar-profile-menu,
.menu-icons {
    display: none;
}

.menu-icons {
    gap: 10px;
}

/* --- --- --- INFO --- --- --- */
.info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #a3a3a3;
    width: 300px;
    height: 90dvh;
}

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.info-config {
    position: absolute;
    display: flex;
    gap: 5px;
    top: 0px;
    right: 10px;
}

.info-config svg {
    transition: all 0.3s;
    cursor: pointer;
    transition: all 0.3s;
}

.info-config svg:hover {
    transform: scale(1.1);
}

.info-img img {
    width: 200px;
    border-radius: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card {
    line-height: 18px;
    padding: 5px 20px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
}

.brushes {
    background: linear-gradient(90deg, #00a3ff 0%, #007cc2 15%, #006ca9 47%, #006096 94%);
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    width: 60%;
}

.stadistics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.bio {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 10px;
}

.social {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 10px;
}

.social-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-card a {
    transition: all 0.3s;
}

.social-card a:hover {
    color: #0038FF;
}

.gallery {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.gallery-content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.menu-secciones {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.btn {
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #D9D9D9;
    border-radius: 7px;
    transition: filter 0.3s;
}

.btn:hover {
    filter: brightness(0.9);
}

.btn-creations {
    background-color: #0038FF;
    color: #fff;
}

.creations-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort {
    cursor: pointer;
    font-size: 16px;
    padding: 0px 5px;
    border: none;
    border-radius: 7px;
    transition: background-color 0.3s;
}

.sort:hover {
    background-color: #D9D9D9;
}

/* --- --- --- MEDIA Q --- --- --- */
@media (max-width: 1000px) {
    /* --- MENU --- */
    .menu-bars {
        display: flex;
    }

    .navbar-explore-a,
    .navbar-toplist-a,
    .navbar-dark,
    .navbar-language {
        display: none;
    }

    .menu-icons {
        display: flex;
    }

    .navbar-explore-menu,
    .navbar-toplist-menu {
        display: block;
        width: 90%;
    }
}

@media (max-width: 730px) {
    /* --- MENU --- */
    .navbar-profile-a,
    .navbar-login-a,
    .navbar-submit-a {
        display: none;
    }

    .navbar-profile-menu,
    .navbar-login-menu,
    .navbar-submit-menu {
        display: block;
        width: 90%;
    }
}

@media (max-width: 400px) {
    /* --- MENU --- */
    .navbar-logo {
        margin-right: 0px;
    }

    .navbar-left {
        gap: 15px;
    }

    .navbar-search-input {
        width: 77px;
    }
}