@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF9F6;
}

a {
    text-decoration: none;
    color: #000;
}

.hidden {
    display: none;
}

/* --- --- --- INFO --- --- --- */
.info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #a3a3a3;
    padding: 0px 50px;
}

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.info-config {
    position: absolute;
    display: flex;
    gap: 5px;
    top: 0px;
    right: 10px;
}

.info-config svg {
    cursor: pointer;
    transition: all 0.3s;
}

.info-config svg:hover {
    transform: scale(1.1);
}

.info-user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.info-img img {
    width: 200px;
    border-radius: 20px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card {
    line-height: 18px;
    padding: 5px 20px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
}

.brushes {
    background: linear-gradient(90deg, #00a3ff 0%, #007cc2 15%, #006ca9 47%, #006096 94%);
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    width: 60%;
}

.stadistics {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.bio {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 10px;
}

.social {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 10px;
}

.social-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-card a {
    transition: all 0.3s;
}

.social-card a:hover {
    color: #0038FF;
}

/* --- --- --- GALLERY --- --- --- */
main {
    display: flex;
    align-items: center;
    height: calc(100dvh - 59px);
}

.main-content {
    display: flex;
    height: 87dvh;
    gap: 15px;
}

.gallery {
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.gallery-content {
    display: flex;
    flex-direction: column;
}

.menu-secciones {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.btn {
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #D9D9D9;
    border-radius: 7px;
    transition: filter 0.3s;
}

.btn:hover {
    filter: brightness(0.9);
}

.btn-selected {
    background-color: #0038FF;
    color: #fff;
}

.creations-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort {
    cursor: pointer;
    font-size: 16px;
    padding: 0px 5px;
    border: none;
    border-radius: 7px;
    transition: background-color 0.3s;
}

.sort:hover {
    background-color: #D9D9D9;
}

/* --- CREATIONS --- */
.creations {
    display: flex;
    justify-content: center;
}

.creations-content {
    width: 95%;
}

.creations-img {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.creations-img img {
    cursor: pointer;
    width: 300px;
    height: 200px;
    border-radius: 6px;
    object-fit: cover;
    transition: filter 0.3s;
}

.creations-img img:hover {
    filter: brightness(0.8);
}

/* --- --- --- MEDIA Q --- --- --- */
@media (max-width: 1000px) {
    /* --- GALLERY --- */
    .info {
        padding-bottom: 10px;
    }

    .info-img img {
        width: 130px;
    }

    .card {
        font-size: 13px;
    }

    .creations-img img {
        width: 250px;
        height: 150px;
    }
}

@media (max-width: 740px) {
    /* --- MAIN --- */
    .info {
        width: 94dvw;
        border-right: none;
        padding: 0px 0px;
        padding-bottom: 10px;
        border-bottom: 2px solid #a3a3a3;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .info-config {
        right: 20px;
    }

    .gallery {
        overflow-y: unset;
    }

    .menu-secciones {
        flex-direction: column;
    }

    .menu-secciones div {
        width: 50%;
    }

    /* --- GALLERY --- */
    .creations-img img {
        width: 160px;
        height: 100px;
    }
}

/* @media (max-width: 400px) {

} */